
<%-include("./partials/header.ejs")%>

    <div><img src="https://i.imgur.com/3fBiml3.jpg" id="bg-index">
    <h1 class="heading">Edit set</h1>
    
    <div class="edit-form">
        
            <div class="col-lg-12">
    <form action="/lego/<%= lego.id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=lego.name%>" class="form-control"/>
        Description: <textarea type="text" name="description" value="<%=lego.description %>" class="form-control"></textarea>
        Pieces: <input type="number" name="pieces" value="<%=lego.pieces %>" class="form-control"/>
        Image: <input type="text" name="img" value="<%=lego.img %>" class="form-control"/>
        Value: <input type="number" name="value" value="<%=lego.value %>" class="form-control"/>
        QTY: <input type="number" name="qty" value="<%=lego.qty %>" class="form-control"/>
        Is set retired: 
        <input type="checkbox" name="retired"
            <% if(lego.retired === true) { %>
                checked
            <% } %>
        />
        <br>
        <input type="submit" class="btn btn-primary btn-lg" role="button">
    </form>

    <div class="button2">
   <a href="/" class="btn btn-danger" tabindex="-1" role="button">Return to Home page</a>
    <a href="/lego" class="btn btn-success" tabindex="-1" role="button">Return to database</a>
</body>
</html>