<%-include("./partials/header.ejs")%>
    <title>Main Page</title>
</head>
<body>
    <h1>iBrick</h1>
    <h2>Lego Database</h2>
    <ul id="lego">
      <li>
        <a href="/">Home</a>
      </li>
        <% lego.forEach(lego =>{%>
          <a href="/lego/<%=lego.id%>"><%=lego.name%></a>
          <img src="<%=lego.img%>">

        %>

        
                  
        <form action="/lego/<%=lego.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />   
              
            
            <% })%>
            <a href="/lego/new">Add new set</a>
           
    </ul>
    <%- include('./partials/footer.ejs') %>