<%-include("./partials/header.ejs")%>
    <title>Document</title>
</head>
<body><h1>This is the show page</h1>

    <%=lego.name%>
    <h2><%=lego.description%></h2>
    <h2><%=lego.pieces%></h2>
    <h2><%=lego.img%></h2>
    <a href="/lego/<%=lego.id%>/edit">
    <button>EDIT</button></a>